version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: marketplace_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: marketplace
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - marketplace_net

  redis:
    image: redis:7-alpine
    container_name: marketplace_redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    networks:
      - marketplace_net

  minio:
    image: minio/minio:latest
    container_name: marketplace_minio
    restart: always
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"  # API S3
      - "9001:9001"  # Console UI
    networks:
      - marketplace_net

networks:
  marketplace_net:

volumes:
  postgres_data:
  redis_data:
  minio_data:
